*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(./269413.webp);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    
}